[push]
	default = simple
[user]
	email = zatamine@gmail.com
	name = Amine HADDAD
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
